BasedOnStyle: Google
Language: Cpp
Standard: Latest
ColumnLimit: 100
IndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AlwaysBreakTemplateDeclarations: Yes
PointerAlignment: Left
ReferenceAlignment: Left
SpaceAfterCStyleCast: false
SpaceAfterTemplateKeyword: true
SpaceBeforeParens: ControlStatements
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<euxis/'
    Priority: 2
  - Regex: '^<(gtest|gmock)/'
    Priority: 3
  - Regex: '^<nlohmann/'
    Priority: 4
  - Regex: '^<spdlog/'
    Priority: 4
  - Regex: '^<Q'
    Priority: 5
  - Regex: '^<'
    Priority: 6
  - Regex: '.*'
    Priority: 1
SortIncludes: CaseSensitive
